<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
<div class="app-body">
  <!-- <main class="main d-flex align-items-center"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
                <form [formGroup]="loginForm" >
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" autocomplete="username" 
                  formControlName="username" name="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" >
                
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">username is required</div>
                    <div *ngIf="f.username.errors.minlength">username must be at least  4 characters</div>
                    <div *ngIf="f.username.errors.maxlength">username max length is 12 characters</div>
                </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" 
                  formControlName="email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email is required</div>
                    <div *ngIf="f.email.errors.minlength">email must be at least  4 characters</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                  formControlName="password"  name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">password is required</div>
                    <div *ngIf="f.password.errors.minlength">password must be at least  4 characters</div>
                    <div *ngIf="f.password.errors.maxlength">password max length is 12 characters</div>
                </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password"
                  formControlName="repeatpassword" name="repeatpassword" [ngClass]="{ 'is-invalid': submitted && f.repeatpassword.errors }"  >
                  <div *ngIf="submitted && f.repeatpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.repeatpassword.errors.required">repeatpassword is required</div>
                    <div *ngIf="f.repeatpassword.errors.minlength">repeatpassword must be at least  4 characters</div>
                    <div *ngIf="f.repeatpassword.errors.maxlength">repeatpassword max length is 12 characters</div>
                </div>
                </div>
                <button type="button" class="btn btn-block btn-success" (click)="onSubmit()">Create Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </main> -->
</div>
<!-- </form> -->

