<form [formGroup]="ruleform" >
    <div class="row">
    <div class="col-sm-6">
        <div class="card">
        
          <div class="card-body">
            <div class="form-group">
                <label for="ruleId">RuleId</label>
                <input type="hidden" name="ruleId" formControlName="ruleId" >
                <input type="text" formControlName="ruleId" class="form-control" id="ruleId" placeholder="RuleId ">
              </div>
           
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6"></div>
    </div><!--/.row-->
    </form>
    
    