<P>
        <strong>Employee Detail:</strong>  Mohamed Thoufeeq A. - Industrial Air Division - 0042402
</P>
<div class="col-lg-12">
  </div>
<div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12 mb-6">
            <!-- Nav tabs -->
           
            <tabset  >
                
<tab heading="Basic ">
<div class="row">
<div class="col-md-12">
 <div class="card">
 <div class="card-header">
<strong>Basic Data</strong> 
</div>
<div class="card-body">
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        
                                <div class="form-group row">
                                        <label class="col-md-3 col-form-label">First Name :
                                            </label>
                                        <label class="col-md-3 col-form-label">Static</label>
                                        <label class="col-md-3 col-form-label"></label>
                                         <div class="col-md-3">
                                                <a href="assets/img/brand/photo.png" >
                                                    <img src="assets/img/brand/photo.png" alt="Paris" style="height:100px;width:160px;">
                                                  </a>
                                           </div>
                                  </div>
                                  <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Last Name :</label>
                                         <div class="col-md-9">
                                         <p class="form-control-static">Static</p>
                                           </div>
                                         </div>
                                         <div class="form-group row">
                                                 <label class="col-md-3 col-form-label" for="text-input">Division :</label>
                                                 <div class="col-md-9">
                                                   <p class="form-control-static">static</p>
                                                 </div>
                                               </div>

                                               
                              <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">Department :</label>
                                    <div class="col-md-9">
                                      <p class="form-control-static">static</p>
                                      
                                    </div>
                                    
                                  </div>
                                  <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Group :</label>
                                        <div class="col-md-9">
                                          <p class="form-control-static">static</p>
                                        </div>
                                      </div>
                          
                                      <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Cost Center  :</label>
                                            <div class="col-md-9">
                                              <p class="form-control-static">static</p>
                                            </div>
                                          </div>
                                          <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Employee No : </label>
                                                <div class="col-md-9">
                                                  <p class="form-control-static">static</p>
                                                </div>
                                              </div>

                                              <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="text-input">Code :</label>
                                                    <div class="col-md-9">
                                                      <p class="form-control-static">static</p>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                        <label class="col-md-3 col-form-label" for="text-input">Location :</label>
                                                        <div class="col-md-9">
                                                          <p class="form-control-static">static</p>
                                                        </div>
                                                      </div>


                                                      
                                                      <div class="form-group row">
                                                            <label class="col-md-3 col-form-label" for="text-input">Job Title :</label>
                                                            <div class="col-md-9">
                                                              <p class="form-control-static">static </p>
                                                            </div>
                                                          </div>
                                                          <div class="form-group row">
                                                                <label class="col-md-3 col-form-label" for="text-input">IP Phone :</label>
                                                                <div class="col-md-9">
                                                                  <p class="form-control-static">static</p>
                                                                </div>
                                                              </div>
                                                              
                                                              <div class="form-group row">
                                                                    <label class="col-md-3 col-form-label" for="text-input">Cell Phone :</label>
                                                                    <div class="col-md-9">
                                                                      <p class="form-control-static">static</p>
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                        <label class="col-md-3 col-form-label" for="text-input">Corporate Email:</label>
                                                                        <div class="col-md-9">
                                                                          <p class="form-control-static">static</p>
                                                                        </div>
                                                                         
                                                                      </div>
                                                                      <div class="form-group row">
                                                                            <label class="col-md-3 col-form-label" for="text-input">GUID:</label>
                                                                            <div class="col-md-9">
                                                                              <p class="form-control-static">static</p>
                                                                            </div>
                                                                             
                                                                          </div>
		
                                                      
                               </form>
                  
                               <div>
                                 </div>
                               </div>
                               </div>
                            </div>
                    </div>

              </tab>
              <tab heading="Application Data">
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="card">
                                            <div class="card-header">
                                              <strong>Approver</strong> 
                                            </div>
                                            <div class="card-body">
                                              <form action="" method="post" class="form-horizontal">
                                                 
                                                  <div class="form-group row">
                                                        <label class="col-md-6 col-form-label" for="text-input">Approver:</label>
                                                        <div class="col-md-6">
                                                          <p class="form-control-static">static</p>
                                                        </div>
                                                         
                                                      </div>
                                                      <div class="form-group row">
                                                            <label class="col-md-6 col-form-label" for="text-input">Approver Overrule?:</label>
                                                            <div class="col-md-6">
                                                              <p class="form-control-static">static</p>
                                                            </div>
                                                             
                                                          </div>
                                                      
                                                      <div class="form-group row">
                                                            <label class="col-md-6 col-form-label" for="text-input">Cmpy. Code 
                                                                  :</label>
                                                            <div class="col-md-6">
                                                              <p class="form-control-static">static</p>
                                                            </div>
                                                             
                                                          </div>
                                                      
                                                      <div class="form-group row">
                                                            <label class="col-md-6 col-form-label" for="text-input">Division Code 
                                                                  :</label>
                                                            <div class="col-md-6">
                                                              <p class="form-control-static">static</p>
                                                            </div>
                                                             
                                                          </div>
                                              </form>
                                            </div>
                                          </div>
                            </div><!--/.col-->
                            <div class="col-sm-6">
                              
                               
                                <div class="card">
                                        <div class="card-header">
                                          <strong>Travel Approver</strong> 
                                        </div>
                                        <div class="card-body">
                                          <form action="" method="post" class="form-horizontal">
                                           
                                              
                                              <div class="form-group row">
                                                    <label class="col-md-6 col-form-label" for="text-input">Travel Approver  :</label>
                                                    <div class="col-md-6">
                                                      <p class="form-control-static">static</p>
                                                    </div>
                                                     
                                                  </div>
                                          </form>
                                        </div>
                                      </div>
                            
                            </div><!--/.col-->
                          </div>
              </tab>
              <tab heading="Private">
                   test
              </tab>
              <tab heading="Administrative">
                    4. Administrative
                  </tab>
                  <tab heading="History">
                    5. History
                      </tab>
            </tabset>
          </div><!--/.col-->
          </div>
        </div>